.account-nav-mobile{
    display: flex;
    flex-direction: column;
}

.account-nav-mobile h2{
    font-weight: 100;
    color: #F1F7F9;
    padding: 0.2em;
    margin: 0;
}

.account-nav-mobile-item{
    
    color: #F1F7F9;
    background-color: #CFCFCF80;
    margin: 0.2em;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
}




.account-nav-sidebar{
    display: flex;
    position: absolute;
    left: 4vh;
    width: calc(100% - 4vh);
    height: calc(100% - 8vh);
    justify-content: flex-start;
}
.nav-sidebar-conatiner{
    display: flex;
    height: 100%;
}
.account-nav-item{
    padding:0.5em 25em 0.5em 0.5em;
    background-color: #091526;
    margin-top: 0.2em;
    cursor: pointer;
}
.account-nav-item:hover{
 background-color: #CFCFCF80;
}


