:root{
  --color-dark: #132941;
  --color-light: #F1F7F9;
  --color-hover: #3C4043;
}

body{
  background-color: #000;
  opacity: 0.99;
  background-image: url(./assets/images/ai-operating-system-on-a-dark-blue-background-vector.png);
  background-size: cover;
  color: white;
}